/*
First Card Theory Heading 
*/

.stylingSkills{
height: 0.5rem; 
border-radius: 0.3rem;
transition: width 1s ease-out;
background: #eeeeee;


}

.LI-profile-badge li:hover{
    text-decoration: none;
}


.LI-profile-badge a:hover:after {
  text-decoration: none;  
}



